{% extends 'layout.html' %}

{% block title %} {{titulo}} {% endblock %}

{% block content %}

<h1 class="title">Listado de Articulos</h1>

   {% if messages %}

      {% for message in messages %}
         
          <div class="message">
              {{message}}
          </div>

      {% endfor %}

   {% endif %}

   {% if mensaje1 and mensaje %}

      <h3>{{mensaje1}}</h3>

      <br/>

      <h4>{{mensaje}}</h4>

   {% else %}
   
      {% if articulos %}

            <h3><p>Listado de articulos</p><h3>

            <ul>

               {% for articulo in articulos %}

                  <li>
                     <h4>{{articulo.id}}. {{articulo.title}}</h4>
                     <span>{{articulo.created_at}}</span>

                     {% if articulo.public %}
                        
                        <strong>Articulo Publicado</strong>

                     {% else %}
                     
                        <strong>Articulo Privado</strong> 
                     {% endif %}
                     <p>
                        {{articulo.content}}
                        <a href="{% url 'borra_articulo' id=articulo.id %}">Eliminar</a>
                        
                     </p>
                  </li>
                  <br/>
               {% endfor %}

            </ul>

            <p>
               <a href="{% url 'create' %}">Crear nuevo articulo</a>
            </p>

      {% endif %}
   {% endif %}

<!-- Esto es un comentario en html-->
{% comment 'Esto es un comentario' %}

{% endcomment %}


<br/>

{% endblock %}