{% extends 'layout.html' %}

{% block title %} {{titulo}} {% endblock %}

{% block content %}

<h1 class="title">Listado de categorias</h1>

   {% if messages %}

      {% for message in messages %}
         
         <div class="message">
            {{message}}
         </div>

      {% endfor %}

   {% endif %}

   {% if mensaje1 and mensaje %}

      <h3>{{mensaje1}}</h3>

      <br/>

      <h4>{{mensaje}}</h4>

   {% else %}
   
      {% if categorias %}

            <h3><p>Listado de categorias</p><h3>

            

               {% for categoria in categorias %}

                  <article class="article-item">
                     <h2>{{categoria.id}}. {{categoria.name}}</h2>

                     <div class="data">
                        <p>
                           {{categoria.description}}
                           <a href="{% url 'borrar_categoria' id=categoria.id %}" class="btn btn-delete">Eliminar</a>
                        </p>
                     
                     </div>
                     
                     <div class="clearfix"></div>
                    
                  </article>
               {% endfor %}

            

            <p>
               <a href="{% url 'create_categori' %}">Crear nueva categoria</a>
            </p>
            <p>
               <a href="{% url 'create_full_cate' %}">Crear nueva categoria a base de formulario clase</a>
            </p>

      {% endif %}
   {% endif %}

<!-- Esto es un comentario en html-->
{% comment 'Esto es un comentario' %}

{% endcomment %}


<br/>

{% endblock %}