{% extends 'layout.html' %}

{% block title %} {{titulo}} {% endblock %}

{% block content %}

<h1 class="title">Listado de categorias</h1>

   {% if mensaje1 and mensaje %}

      <h3>{{mensaje1}}</h3>

      <br/>

      <h4>{{mensaje}}</h4>

   {% else %}
   
      {% if categorias %}

            <h3><p>Listado de categorias</p><h3>

            <ul>

               {% for categoria in categorias %}

                  <li>
                     <h4>{{categoria.id}}. {{categoria.name}}</h4>
                     <p>
                        {{categoria.description}}
                        <a href="{% url 'borrar_categoria' id=categoria.id %}">Eliminar</a>
                     </p>
                  </li>
               {% endfor %}

            </ul>

      {% endif %}
   {% endif %}

<!-- Esto es un comentario en html-->
{% comment 'Esto es un comentario' %}

{% endcomment %}


<br/>

{% endblock %}