{% extends 'layout.html' %}

{% block title %} Mi Pagina de Pruebas {% endblock %}

{% block content %}


<h1 class="title">Formularios en Django | Lcdo Jose Frugone</h1>

<form action="{% url 'grabar' %}" method="POST">

     {% csrf_token %}
     
     <label for="name">Titulo</label>
     <input type="text" name="title" placeholder="Mete tu nombre" />

     <label for="name">Contenido</label>
     <textarea name="content" placeholder="Mete el contenido"></textarea>

     <label for="public">Publicado?</label>
     <select name="public">
           <option value="1">Si</option>
           <option value="0">No</option>
     </select>

     <input type="submit" value="Guardar" />


</form>


{% endblock %}