{% extends 'layout.html' %}

{% block title %} Creacion de Categoria {% endblock %}

{% block content %}


<h1 class="title">Formularios en Django | Lcdo Jose Frugone</h1>

<form action="{% url 'grabar_categori' %}" method="POST">

     {% csrf_token %}
     
     <label for="name">Titulo</label>
     <input type="text" name="name" placeholder="Mete tu nombre" />

     <label for="name">Contenido</label>
     <input type="text" name="description" placeholder="Mete la descripcion" />
     
     <input type="submit" value="Guardar" />


</form>


{% endblock %}