{% extends 'layout.html' %}

{% block title %} {{titulo}} {% endblock %}

{% block content %}

<h1 class="title">Listado de Personas</h1>

   {% if messages %}

      {% for message in messages %}
         
         <div class="message">
            {{message}}
         </div>

      {% endfor %}

   {% endif %}

   {% if mensaje and mensaje1 %}

      <h3><strong>Mensaje de eliminacion :  {{mensaje}} . {{mensaje1}} </strong></h3>
    

   {% else %}

      
         {% for persona in personas %}
            <article class="article-item">
               <p>
                  <h2><strong>{{persona.pais}} . {{persona.provincia}}</strong></h2> 
               </p>
               <br/>

               {% if persona.image != 'null' and persona.image.url|length >= 1 %}
                        <div class="image">
                             <img src="{{persona.image.url}}" />
                        </div> 
                       
               {% endif %}

               <div class="data">
                  <p><strong> {{persona.profesion}} . {{persona.certificado}} . {{persona.direccion}} . {{persona.correo}} . {{persona.telefono}} </strong></p>
                  <p>
                              <p><strong>Si decide borrar de un click en eliminar {{persona.apellidos}}  .  {{persona.nombres}}</strong></p>
                              <a href="{% url 'borrar_persona' id=persona.id %}" class="btn btn-delete">Eliminar</a>
                              
                  </p>
                  <strong>{{persona.id}}  .  {{persona.apellidos}}  .  {{persona.nombres}}</strong>
                  <br/> 
               </div>
               

               <div class="clearfix"></div>
              
               
            </article>

            
            <br/>
         {% endfor %}
      

      <p>
         <strong><a href="{% url 'create_persona' %}">Crear nueva persona</a></strong>
      </p>

      <p>
         <strong><a href="{% url 'create_persona_full' %}">Crear una nueva persona basada en formulario de clases</a></strong>
      </p>



   {% endif %} 
   
   
<!-- Esto es un comentario en html-->
{% comment 'Esto es un comentario' %}

{% endcomment %}


<br/>

{% endblock %}