{% extends 'layout.html' %}

{% block title %} {{titulo}} {% endblock %}

{% block content %}

<h1 class="title">Listado de Personas</h1>

   {% if messages %}

      {% for message in messages %}
         
         <div class="message">
            {{message}}
         </div>

      {% endfor %}

   {% endif %}

   {% if mensaje and mensaje1 %}

      <h3><strong>Mensaje de eliminacion :  {{mensaje}} . {{mensaje1}} </strong></h3>
    

   {% else %}

      <ul>
         {% for persona in personas %}
            <li>
               <p>
                  <h4><strong>{{persona.pais}} . {{persona.provincia}}</strong></h4> 
               </p>
               <br/>
               <strong>{{persona.id}}  .  {{persona.apellidos}}  .  {{persona.nombres}}</strong>
               <br/>

               <p><strong> {{persona.profesion}} . {{persona.certificado}} . {{persona.direccion}} . {{persona.correo}} . {{persona.telefono}} </strong></p>
               <p>
                           <p><strong>Si decide borrar de un click en eliminar {{persona.apellidos}}  .  {{persona.nombres}}</strong></p>
                           <a href="{% url 'borrar_persona' id=persona.id %}">Eliminar</a>
                           
               </p>
               
            </li>

            <br/>
         {% endfor %}
      </ul>

      <p>
         <strong><a href="{% url 'create_persona' %}">Crear nueva persona</a></strong>
      </p>

      <p>
         <strong><a href="{% url 'create_persona_full' %}">Crear una nueva persona basada en formulario de clases</a></strong>
      </p>



   {% endif %} 
   
   
<!-- Esto es un comentario en html-->
{% comment 'Esto es un comentario' %}

{% endcomment %}


<br/>

{% endblock %}