{% extends 'layout.html' %}

{% block title %} {{titulo}} {% endblock %}

{% block content %}

<h1 class="title">Listado de Subcategorias</h1>

   {% if messages %}

      {% for message in messages %}
         
         <div class="message">
            {{message}}
         </div>

      {% endfor %}

   {% endif %}

   {% if mensaje1 and mensaje %}

      <h3>{{mensaje1}}</h3>

      <br/>

      <h4>{{mensaje}}</h4>

   {% else %}
   
      {% if subcategorias %}

            <h3><p>Listado de Subcategorias</p><h3>

            

               {% for subcategori in subcategorias %}

                  <article class="article-item">
                     <h4>{{subcategori.id}}. {{subcategori.name}}</h4>

                     <div class="data">
                        <p>
                           {{subcategori.description}}
                           <a href="{% url 'borrar_subcateri' id=subcategori.id %}" class="btn btn-delete">Eliminar</a>
                        </p>
                     
                     </div>

                     <div class="clearfix"></div>
                     
                     
                  </article>
               {% endfor %}

            

            <p>
                <a href="{% url 'create_subcategoria' %}" class="btn1 btn1-agregar">Crear SubCategoria</a>
            </p>
            <p>
                <a href="{% url 'create_full_subcate' %}" class="btn1 btn1-agregar">Crear Subcategoria a base de forma de clase</a> 
            </p>

      {% endif %}
   {% endif %}

<!-- Esto es un comentario en html-->
{% comment 'Esto es un comentario' %}

{% endcomment %}


<br/>

{% endblock %}